# VS Code settings
.vscode/

# Virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pytest cache
.pytest_cache/

# Distribution / build folders
dist/
wixok.txtfile.egg-info/